<body bgcolor=silver>


<center><h3>Please enter your names</h3>

<form action="player_names" method="post">

<h3><font color=Red>Player 1: <input type="text" name = "player1"></h3>


<h2><font color=Red>VS</h2>

<h3><font color=Red>Player 2: <input type="text" name = "player2"></h3>

<h5><input type="submit" value="Submit"></h5>

<center> <h2><font color=Red>Thank you for playing</h2>
</center>

</center>
</form>

</body>