<!DOCTYPE html>
<html>
<head>
<link rel="style sheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>

</body>
</html>

<center><h1><font color=red>Welcome to hangman</h1></center>

<%=yield%>

